<ion-view title="Tourmii">

  <ion-content  ng-controller="SearchCtrl">
    <div class='list list-inset'>
      <form action="" ng-submit="submit()">
        <label class='item item-input'>
          <i class='icon ion-search placeholder-icon'></i>
          <input type='text' placeholder='search' ng-model="query">
        </label>
      </form>
    </div>

    <div ng-if='map.isReady'>
      <google-map center="map.center" zoom="map.zoom" ng-hide="hideMap" draggable='true'>
        <marker
          ng-repeat="place in places"
          coords="{latitude: place.coords.latitude, longitude: place.coords.longitude}">
        </marker>

      </google-map>
    </div>
    <div class="list">
      <a class="item" ng-repeat="place in places" ui-sref="place">
        {{place.name}}
      </a>
    </div>

  </ion-content>
</ion-view>