<ion-view title="Tourmii">

  <div class='bar bar-stable bar-subheader'>
    <h2 class='title'>My Tours</h2>
  </div>

  <ion-content class='has-header has-subheader padding'>
    <div class='list'>
      <a class='item item-thumbnail-left' ng-repeat="tour in tours" ng-click="viewTour(tour.id)">
        <img ng-src={{tour.photoUrl}} alt="">
        <!-- <a class='item item-thumbnail-left' href='#'>
          <img ng-src="{{tour.photoUrl}}" alt="">
        </a> -->
        {{tour.name}}
      </a>
    </div>
  </ion-content>

</ion-view>
